<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.tuliofmoura.androidbasics">

    <application
        android:name=".resolved.application.AndroidBasicsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".resolved.ResolvedBrandedLaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BrandedLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".resolved.hello.ResolvedStarterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".resolved.hello.ResolvedHelloActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".resolved.category.ResolvedCategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".todo.product.TodoProductsActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>